$accent-color: rgb(0, 128, 255);
$on-accent-color: white;
$text-color: black;
$bg-color: #f9f9f9ff;
$item-color: white;
$overlay-color: #00000080;
$border-color: #00000035;

$border-radius: 12px;

$shadow: 0 0 20px #0000007F;
$shadow-item: 0 0 4px #00000027;
$shadow-hover: 0 0 10px #00000027;
$shadow-button-hover: 0 0 20px #00000040;
